body {
    font-family: 'Roboto', sans-serif;
}

.block {
    position: relative;
    padding: 23px;
    width: 288px;
}

.block:hover .text_name {
    top: -45px;
    left: -40px;
}

.block:hover .social_icon {
    right: 5px;
}

/*-----добавили час для відслідкування як змінюється :hover---------------*/
.text_name, .social_icon {
    transition: 0.5s;
}

.text_name {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 3.99744px;
    padding: 8px 16px 10px 12px;
}

.social_icon {
    display: flex;
    flex-direction: column;
    padding: 10px 12px 0 10px;
    position: absolute;
    right: 20px;
    bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 3.99744px;
}

img {
    margin-bottom: 12px;
}

h3 {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 10px;
    line-height: 10px;
    color: #191919;
    margin-top: 0;
}