body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.left {
    max-width: 415px;
}

h4 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #497557;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 51px;
    letter-spacing: 0.152px;
    color: #02291C;

}

ul {
    list-style: none;
    padding-left: 0;
    /*position: relative;*/
}

li {
    display: flex;
    align-items: start;
    position: relative;
    background: #F9F9F7;
    border-radius: 4px;
    margin-bottom: 15px;
}

li img {
    position: absolute;
    top: 24px;
    left: 25px;
}

li .text {
    padding: 21px 48px 22px 59px;
}

ul h5 {
    font-size: 20px;
    line-height: 20px;
    color: #02291C;
    margin-top: 0;
    margin-bottom: 16px;
}

ul p {
    font-size: 18px;
    line-height: 25px;
    color: #5B5855;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

li.active {
    background: #DCE3DD;
}
li.active p{
    display: block;
}
