body {
    font-family: 'Roboto', sans-serif;
}

.input_block {
    margin: auto;
    width: 671px;
}

.top {
    display: flex;
    margin: auto;
    width: 100%;
}

.bottom {
    text-align: center;
}

.block {
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

.right {
    width: 40%;
    background: #415AFF;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    padding: 30px;
    align-items: center;
    transition: 1.5s;
}

/*забрали обводку на фокус в інпута*/
input:focus {
    outline: none;
}

/*-------------*/
input {
    padding: 30px;
    /*width: 100%;*/
    font-size: 18px;
    line-height: 24px;
    color: #8D9499;
    background: #FFFFFF;
    border: 1px solid #E3E7E2;
    box-sizing: border-box;
    border-radius: 100px 0px 0px 100px;
    width: 60%;
}

input:focus + button {
    background: red;
}

img {
    margin-left: 15px;
}

span {
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
}