body {
    font-family: 'Roboto', sans-serif;
}

.block {

    padding: 23px;


}

.block-img {
    width: 410px;
    display: inline-block;
    position: relative;
}

.block-img:before {
    content: "";
    border: solid 2px #e52c2c;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    height: calc(100% - 76px);
    width: calc(100% - 48px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}
.block-img:hover:before{
    height: 100%;
    width: 100%;
}
.block-img:nth-child(2) h1{
    padding: 0 40px;
    width: initial;
}
h1 {
    height: 64px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    font-size: 64px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
}
